<a href="https://colab.research.google.com/github/Shivaram17/100DaysOfAdvancedPythonCoding/blob/main/10064AdvancedPython_Pandas_Dataframe_ArithmeticMethods.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
data = {'State': ['Chennai', 'Texas', 'Delhi', 'Hyderabad', 'Ontario'],
        'Year': [2000, 2001, 2002, 2003, 2004],
        'pop': [1,2,3,4,5]
        }

frame = pd.DataFrame(data)
frame.loc[1]

# add new column
frame2 = pd.DataFrame(data, columns = ['State', 'Year', 'pop', 'Accounting'],
                      index = ['one', 'two', 'three', 'four', 'five'])
frame2.Accounting = 'Citi Bank'
frame2

           State  Year  pop Accounting
one      Chennai  2000    1  Citi Bank
two        Texas  2001    2  Citi Bank
three      Delhi  2002    3  Citi Bank
four   Hyderabad  2003    4  Citi Bank
five     Ontario  2004    5  Citi Bank

In [13]:
import pandas as pd
import numpy as np
obj = pd.DataFrame(np.arange(9).reshape(3,3),
                      index = ['a', 'c', 'd'],
                      columns = ['Delhi', 'Chennai', 'Bangalore'])
obj.loc['a', ['Chennai', 'Delhi']]
# filtering using iloc for integers
obj.iloc[1,[1,2]]
obj.loc[:'d', 'Chennai':]

   Chennai  Bangalore
a        1          2
c        4          5
d        7          8

In [29]:
# arithmetic methods using pandas
import pandas as pd
df1 = pd.DataFrame(np.arange(16).reshape(4,4),
                   index=['a','b', 'c', 'd'],
                   columns = list('abcd'))

df2 = pd.DataFrame(np.arange(25).reshape(5,5),
                   index = ['a','b','c','d','e'],
                   columns = list('abcde'))
df2.loc['a', 'b'] = np.nan
df1 + df2
df1.add(df2, fill_value = 0)

      a     b     c     d     e
a   0.0   1.0   4.0   6.0   4.0
b   9.0  11.0  13.0  15.0   9.0
c  18.0  20.0  22.0  24.0  14.0
d  27.0  29.0  31.0  33.0  19.0
e  20.0  21.0  22.0  23.0  24.0