<a href="https://colab.research.google.com/github/Shivaram17/100DaysOfAdvancedPythonCoding/blob/main/10090AdvancedPython_DataWrangling_merge.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#Reordering the index
import pandas as pd
import numpy as np
frame = pd.DataFrame(np.arange(12).reshape(4,3), 
                     columns = [['Ohio', 'Colarado', 'Colarado'], ['Green','Red', 'Blue']],
                     index = [['a', 'a', 'b', 'b'], [1,2,1,2]])
frame.index.names = ['key1', 'key2']
frame.columns.names = ['State', 'Color']
frame
# Reordering the indexes 
frame.swaplevel('key1', 'key2')
frame.sort_index(level = 1)
frame.swaplevel(0,1).sort_index(level = 0)
frame.sum(level = 'key2')

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:13: FutureWarning: Using the level keyword in DataFrame and Series aggregations is deprecated and will be removed in a future version. Use groupby instead. df.sum(level=1) should use df.groupby(level=1).sum().
  del sys.path[0]

State  Ohio Colarado
Color Green      Red Blue
key2
1         6        8   10
2        12       14   16

In [8]:
# merge
import pandas as pd
df1 = pd.DataFrame({'lkey': ['b','b','c','a','a','d','b'],
                   'data1': range(7)})
df2 = pd.DataFrame({'rkey': ['b','c','d'],
                    'data2': range(3)})
# keys are different in each dataframe by default inner
df3 = pd.merge(df1,df2, left_on = 'lkey', right_on='rkey', how = 'outer')
df3

  lkey  data1 rkey  data2
0    b      0    b    0.0
1    b      1    b    0.0
2    b      6    b    0.0
3    c      2    c    1.0
4    a      3  NaN    NaN
5    a      4  NaN    NaN
6    d      5    d    2.0